{% extends 'recipes/base.html' %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'recipes/css/index.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/recipes_cards.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/recipes_names.css' %}">
{% endblock %}

{% block title %}Главная - CookBook{% endblock %}

{% block content %}
    <div class="welcome-section">
        <h2>Добро пожаловать в CookBook!</h2>
        <p>Ваша личная кулинарная книга.</p>
    </div>

    <div class="section-header">
        <h3>Последние рецепты</h3>
        <a href="{% url 'recipes:recipe_list' %}" class="view-all-link">Все рецепты</a>
    </div>

    {% if latest_recipes %}
        <div class="recipes-grid">
            {% for recipe in latest_recipes %}
                <div class="recipe-card">
                {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-image">
                {% endif %}
                <span class="recipe-category">{{ recipe.category.name }}</span>
                <h3><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.name }}</a></h3>
                <p class="recipe-description">{{ recipe.description|truncatechars:100 }}</p>
                <div class="recipe-footer">
                    <span class="recipe-time">{{ recipe.duration }} мин</span>
                    <span class="recipe-author">{{ recipe.author.username }}</span>
                </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="empty-message">Пока нет рецептов. Будь первым!</p>
    {% endif %}
{% endblock %}