{% extends 'recipes/base.html' %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'recipes/css/recipes_cards.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/recipes_names.css' %}">
{% endblock %}

{% block title %}Все рецепты - CookBook{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Все рецепты</h2>
        <a href="{% url 'recipes:add_recipe' %}" class="button button-small">+ Новый рецепт</a>
    </div>

    {% if recipes %}
        <div class="recipes-grid">
            {% for recipe in recipes %}
                <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="recipe-card-link">
                    <div class="recipe-card">
                        {% if recipe.image %}
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-image">
                        {% endif %}
                        <span class="recipe-category">{{ recipe.category.name }}</span>
                        <h3>{{ recipe.name }}</h3>
                        <p class="recipe-description">{{ recipe.description|truncatechars:100 }}</p>
                        <div class="recipe-footer">
                            <span class="recipe-time">{{ recipe.duration }} мин</span>
                            <span class="recipe-author">{{ recipe.author.username }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    <!-- Пагинация -->
{% if page_obj.has_other_pages %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="prev-btn">← Предыдущая</a>
        {% endif %}

        <span class="current-page">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next-btn">Следующая →</a>
        {% endif %}
    </div>
{% endif %}
    {% else %}
        <p class="empty-message">Пока нет ни одного рецепта.</p>
    {% endif %}
{% endblock %}